.wc-block-mini-cart__quantity-badge {
	align-items: center;
	display: flex;
}

.wc-block-mini-cart__badge {
	align-items: center;
	background: #000;
	border: none;
	border-radius: 1em;
	box-sizing: border-box;
	color: #FFF;
	display: flex;
	font-size: 0.875em;
	font-weight: 600;
	font-family: $alt-font-family;
	height: math.div(em(20px), 0.875);
	justify-content: center;
	margin-top: math.div(em(-5px), 0.875);
	margin-left: math.div(em(-8px), 0.875);
	min-width: math.div(em(20px), 0.875);
	padding: 0 em($gap-smallest);
	transform: translateY(-50%);
	white-space: nowrap;
	z-index: 1;
}

.wc-block-mini-cart__icon {
	display: block;
	height: em(24px);
	width: em(24px);

	html[dir="rtl"] & {
		transform: scaleX(-1);
	}
}
