.wp-block-woocommerce-customer-account {
	a {
		text-decoration: none !important;
		align-items: center;
		display: flex;
		color: currentColor !important;

		&:hover {
			//text-decoration: underline !important;
			opacity: 0.6;
		}

		.icon {
			height: em(22px);
			width: em(22px);
		}

		.wc-block-customer-account__account-icon {
			height: em(20px);
			width: em(20px);
			padding: em($gap-smaller);
		}
	}
}
